<!DOCTYPE html>
<html>
<head>
  <title>
    @PageTitle
  </title>
  <link href="/Contents/Css/Site.css" rel="stylesheet" />
</head>
<body>
  <div class="header">
    <div class="container">
      <span class="siteTitle">وبلاگ من</span>
      <span style="font-family: consolas; font-size: 40px; font-weight: bold;"> =&gt;</span>
    </div>
  </div>
  <div class="container" style="margin-top: 100px;">
    <div class="blog-wrapper" style="padding: 0px 50px 100px; font-family: byekan; font-size: 80px; font-weight: bold;">ســــلام</div>
    @PageBody
  </div>
</body>
</html>
