<!DOCTYPE html>
<html>
<head>
  <title>
    @PageTitle
  </title>
  <link href="/Contents/Css/Site.css" rel="stylesheet" />
  <link rel="EditURI" type="application/rsd+xml" href="/rsd.xml" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wlwmanifest.xml" />
</head>
<body>
  <div class="header">
    <div class="container">
      <a class="siteTitle" href="/">وبلاگ من</a>
      <span style="font-family: consolas; font-size: 40px; font-weight: bold;"> =&gt;</span>
    </div>
  </div>
  <div class="container">
    @PageBody
  </div>
</body>
</html>
