<div class="container">
  <form action="/Manage/ShowAllPosts" method="POST">
    <div class="manage-index">
      <table>
        <tr>
          <td>شناسه:</td>
          <td><input id="username" name="username" type="text" /></td>
        </tr>
        <tr>
          <td>رمز:</td>
          <td><input id="password" name="password" type="text" /></td>
        </tr>
        <tr>
          <td colspan="2"><input id="submit" type="submit" value="Login" /></td>
        </tr>
      </table>
    </div>
  </form>
</div>